name: Build OpenWrt

on:
  schedule:
    - cron: "0 22 * * *"
  push:
    branches:
      - main

env:
  BOARD: "mediatek"
  SUBTARGET: "mt7622"
  PROFILE: "linksys_e8450-ubi"
  PACKAGES_TYPE1: "softethervpn-bridge luci iperf3 mtr iwinfo kmod-tcp-bbr libustream-wolfssl ca-bundle -luci-proto-ppp -ppp -ppp-mod-pppoe -kmod-pppox -kmod-pppoe -kmod-ppp"

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:

      - name: Checkout
        uses: actions/checkout@main

      - name: Initialization environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo mkdir -p /mnt/workdir
          sudo chown $USER:$GROUPS /mnt/workdir

      - name: Download imagebuilder
        working-directory: /mnt/workdir
        run: |
          curl -O "https://downloads.openwrt.org/snapshots/targets/${{ env.BOARD }}/${{ env.SUBTARGET }}/openwrt-imagebuilder-${{ env.BOARD }}-${{ env.SUBTARGET }}.Linux-x86_64.tar.xz"
          tar xvaf openwrt-imagebuilder-${{ env.BOARD }}-${{ env.SUBTARGET }}.Linux-x86_64.tar.xz
          ln -sf /mnt/workdir/openwrt-imagebuilder-${{ env.BOARD }}-${{ env.SUBTARGET }}.Linux-x86_64 $GITHUB_WORKSPACE/openwrt

      - name: Download version info
        run: |
          curl -O "https://downloads.openwrt.org/snapshots/targets/${{ env.BOARD }}/${{ env.SUBTARGET }}/version.buildinfo"
          echo "OPENWRT_VERSION=$(cat version.buildinfo)" >> $GITHUB_ENV

      - name: Build the image of type 1
        id: type1
        run: |
          cd openwrt
          make image PROFILE="${{ env.PROFILE }}" PACKAGES="${{ env.PACKAGES_TYPE1 }}"
          mv bin/targets/${{ env.BOARD }}/${{ env.SUBTARGET }}/openwrt-${{ env.BOARD }}-${{ env.SUBTARGET }}-${{ env.PROFILE }}-squashfs-sysupgrade.itb ${{ env.PROFILE }}-squashfs-sysupgrade.itb

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.OPENWRT_VERSION }}
          release_name: OpenWrt ${{ env.OPENWRT_VERSION }}
          body: |
            This release is based on OpenWrt snapshot ${{ env.OPENWRT_VERSION }} and built with these packages: "${{ env.PACKAGES_TYPE1 }}"

          draft: false
          prerelease: false

      - name: Upload type1 Asset
        id: upload-release-asset-type1
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: openwrt/${{ env.PROFILE }}-squashfs-sysupgrade.itb
          asset_name: ${{ env.PROFILE }}-squashfs-sysupgrade.itb
          asset_content_type: application/bin
